@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@font-face {
    font-family: 'Black-Parade';
    src: url('./src/Black\ Parade\ -\ Personal\ Use.otf')
}

@font-face {
    font-family: 'Bauer-Bodoni-Italic';
    src: url('./src/Bauer\ Bodoni\ Italic.otf')
}

@font-face {
    font-family: 'Comfortaa-Light';
    src: url('./src/Comfortaa-Light.ttf')
}

body {
    background: rgb(224, 234, 235);
    background: linear-gradient(90deg, rgba(224, 234, 235, 1) 30%, rgba(198, 228, 202, 1) 100%);
}

/* Navbar */

nav.navbar {
    background: rgb(224, 234, 235);
    background: linear-gradient(90deg, rgba(224, 234, 235, 1) 30%, rgba(198, 228, 202, 1) 100%);
}

.container a {
    color: black;
}

a.nav-link {
    transition: all .2s;
}

a.nav-link:hover {
    color: white;
}

/* Banner */

.btn {
    padding: 14px 26px;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-danger {
    background-color: #e34c43;
    border-color: #e34c43;
}

.banner-image {
    background: linear-gradient(rgba(79, 177, 140, 0.8), rgba(52, 48, 49, 0.8)), url(src/cat-gc43db2e86_1920.jpg);
    background-size: cover;
    background-position: center;
}

.banner-phone-image img {
    width: 300px;
}

.star-rating a {
    color: rgba(255, 255, 255, 0.5);
    margin-right: 10px;
}

.star-rating a:hover {
    color: #fff;
}

.aa {
    line-height: 26px;
}

/* Title Cards  */

.titleCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    text-transform: uppercase;
}

.titleCards div:last-child {
    font-weight: bold;
    margin-top: 5px;
    font-size: 1.5em;
}

div.text1 {
    text-align: center;
    margin: 20px;
}

/* Cards */

.card {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.250);
}

.imgA {
    height: 250px;
    background-size: cover;
    background-position-x: center;
}

.imgB {
    height: 250px;
    background-size: cover;
    background-position-x: center;
}

.imgc {
    height: 250px;
    background-size: cover;
    background-position-x: center;
}

/* Forms */

.lowercase a {
    color: black;
}

p.opacity-50 {
    font-size: 13px;
}

/* Footer */

.footerText {
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.footerText:hover {
    color: black !important;
}

/* Notice */

.notice2 {
    background-color: #353A40;
}