@media (max-width: 416px) {
    button.navbar-toggler {
        margin: 0 45px !important;
    }
}

body {
    min-height: 100vh;
    background: rgb(224, 234, 235);
    background: linear-gradient(90deg, rgba(224, 234, 235, 1) 30%, rgba(198, 228, 202, 1) 100%);
}

/* Navbar */
.navbar {
    background-color: #5b9b8f !important;
}

.buyTickets {
    color: #97C93E !important;
}

/* Párrafos */
section>div>p {
    display: flex !important;
    text-align: center !important;
}

/* Cards */
.btn .badge {
    color: white !important;
}

div.card-body.bg-primary {
    background-color: #CCE5FF !important;
}

/* Buttons */
.btn-success {
    background-color: #97C93E;
    border: #97C93E;
}

/* Footer  */
ul.nav {
    margin-top: 70px;
}

ul.nav.bg-dark {
    background-color: #5b9b8f !important;
}